.home {
    &_container {
        width: 100%;
        background-color: #eeeeee;
        padding-top: 55px;
        text-align: center;

        h1 {
            margin: 0 0 15px 0;
        }
    }
}

.container {
    max-width: 1140px;
    min-width: 340px;
    margin: 0 auto;
    padding: 0px 30px;

    @media (max-width: 450px) {
        padding: 0px 10px;
    }
}

.home_container .movie-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.custom-button {
    width: 20%;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    border: none;
    background-color: #009b7fc4;
    color: white;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
    margin: 0 auto 20px auto;

    &:hover {
        background-color: #3aa995c4;
    }
}